#chat-box {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    height:90vh;
    margin: auto;
    background-color:white;
    border-width:1px;
    border-color: #6c757d;
    border-style: solid;
}

.chatBoxDiv {
    margin: 0 auto;
    width: 100%;
    height: 5vh;
    background-color:white;
    position: absolute;
    bottom: 0;
    border-color: #6c757d;
}

#chatBox {
    height: 5vh;
}
#button-addon2{
    height: 5vh;
}

.messageBoxRight {
    margin-right: 2vw;
    margin-bottom: 0.3vh;
    max-width: 30%;
    border-radius: 1vw;
    background-color: #5c95e9;
    padding: 1vw;
    float:  right;
    clear: right;
    word-wrap: break-word;
}

.messageBoxLeft {
    margin-left: 2vw;
    margin-bottom: 0.3vh;
    max-width: 30%;
    border-radius: 1vw;
    background-color: #5c95e9;
    padding: 1vw;
    float:  left;
    clear: left;
    word-wrap: break-word;
}

#menuBar{
    margin-top: 12px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

.gapBetweenMessageBoxes {
    height: 10vh;
}

@media only screen and (max-width: 768px) {
    #chat-box {
        height: 450px;
    }
}