#chat-box {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    width: 80%;
    height: 80vh;
    margin: auto;
    background-color:white;
    border-width:1px;
    border-color: #6c757d;
    border-style: solid;
}

.chatBoxDiv {
    margin: 0 auto;
    width: 100%;
    height: 5vh;
    background-color:white;
    position: absolute;
    bottom: 0;
    border-color: #6c757d;
}

#chatBox {
    height: 5vh;
}

#button-addon2{
    height: 5vh;
}

.messageBoxRight {
    font:x-small;
    margin-right: 2vw;
    margin-bottom: 0.3vh;
    max-width: 30%;
    border-radius: 1vw;
    padding: 0.5vw;
    float:  right;
    clear: right;
    word-wrap: break-word;
    background-color: #5c95e9;
    background-image: linear-gradient(#63ddcd, #5c95e9);
}

.messageBoxLeft {
    font:x-small;
    margin-left: 2vw;
    margin-bottom: 0.3vh;
    max-width: 30%;
    border-radius: 1vw;
    padding: 0.5vw;
    float:  left;
    clear: left;
    word-wrap: break-word;
    background-color: #5c95e9;
    background-image: linear-gradient(#63ddcd, #5c95e9);
}

#menuBar{
    margin-top: 12px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

.gapBetweenMessageBoxes {
}
